.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  background-color: rgb(251, 251, 255);
  position: sticky;
  top: 50px;
}

.sideWrapper {
  padding: 20px;
  color: #555;
}

.sideBarTitle {
  font-size: 13px;
  color: rgb(187, 186, 186);
}

.sideBarList {
  list-style: none;
  padding: 5px;
}
.sideBarListIem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.sideBarListIem.active,
.sideBarListIem:hover {
  background-color: rgba(240, 240, 255);
}
.sideBarIcon {
  margin-right: 5px;
  font-size: 20px !important;
}
