.userList {
  flex: 4;
}

.userListUser {
  display: flex;
  align-items: center;
}

.userListUser img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.UserListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.UserListDelete {
  color: red;
  cursor: pointer;
}
.btnContainer {
  position: relative;
  padding: 20px;
  text-align: end;
}
.createNewBtn {
  width: 80px;
  padding: 5px;
  background-color: teal;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
